---
import Layout from "../layouts/Layout.astro";
import { config } from '../../astro.config.mjs';
import HeroBento from '../components/HeroBento.astro';
import TrustedBy from "../components/TrustedBy.astro";
import Badge from "../components/Badge.astro";
import BentoImage from "../components/BentoImage.astro";

const solutionImages = ['/placeholders/placeholder_solutions-1.jpg','/placeholders/placeholder_solutions-2.jpg','/placeholders/placeholder_solutions-3.jpg','/placeholders/placeholder_solutions-4.jpg'].map((src,i) => ({
    src: '/images' + src,
    width: i === 0 ? 450 : 321,
    height: i === 0 ? 221 : 321
}));
const brandImages = ['/placeholders/placeholder_brand-1.svg',
'/placeholders/placeholder_brand-2.svg',
'/placeholders/placeholder_brand-3.png',
'/placeholders/placeholder_brand-4.svg',].map(src => ({ 
    src: '/images' + src,
    width:220,
    height: 220,
    alt: ''
}))

// General layout
// Large title saying what problem is being solved
// smaller description that goes into more detail

/*
// floating bento box with images
const placeholderImages:ImageProps[] = [
    {
        src: solutions1,
        width: 450,
        height: 221,
    },
    {
        src: solutions2,
        width: 321,
        height: 321
    },
    {
        src: solutions3,
        width: 321,
        height: 321,
    }
].map((obj:ImageProps) => (obj.link = '/', obj));
const brandImages:ImageProps[] = [
    {
        src: brand1,
        width: 220,
        height: 220
    },
    {
        src: brand2,
        width: 220,
        height: 220
    },
    {
        src: brand3,
        width: 220,
        height: 220
    },
    {
        src: brand4,
        width: 220,
        height: 220
    },
]
*/
const solutionTitle = 'SAAS'

---
<Layout title="Our solutions">
    <HeroBento
        title={`It's not about what ${solutionTitle} can do.`} 
        subtitle={`It's about what <b>${config.brand.text}</b> can do <i>for you!</i>`} 
        images={solutionImages.slice(0, 3)}
        gridStyle="bottom"
        theme="light"
        primaryBtn="See pricing"
        primaryLink="#"
        secondaryBtn="Contact sales"
        secondaryLink="#"
    />
    <TrustedBy images={brandImages} />
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <Badge style="dark" size="lg">{solutionTitle}</Badge>
                    <h2 class="h1">
                        Improve customer grow recurring experience revenue, and reduce costs with a single buzzword 
                        unified platform for payments, subscriptions, money, invoicing, billing, receiving accounting, tax, and more.
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <BentoImage image={solutionImages[3].src}>
        <h2 class="display-3 m-0 text-center text-md-end me-5">Be the hero your customers desire!</h2>
        <div class="hstack pt-5 pe-5 justify-content-md-end justify-content-center">
            <a href="#" class="btn btn-warning btn-lg">Sign up now</a>
        </div>
    </BentoImage>
</Layout>