---
import { Fragment } from 'astro/jsx-runtime';
import { headingSizes } from '../lib/headingSizes';
interface Props {
    level?: number|`${number}`;
    class?: string;
    useParagraph?: boolean;
}
let { level = 2, class: className = '', useParagraph = false } = Astro.props;
const size = headingSizes(level);
className += ` text-${size}`
---
{useParagraph ? 
    <p class={className}><slot></slot></p> : 
    level === 2 ? <h2 class={className}><slot></slot></h2> :
    level === 3 ? <h3 class={className}><slot></slot></h3> :
    level === 4 ? <h4 class={className}><slot></slot></h4> :
    level === 5 ? <h5 class={className}><slot></slot></h5> :
    level === 6 && <h6 class={className}><slot></slot></h6>}
<style>
    .cta-heading {
        margin-bottom: 0;
        line-height: 1;
        font-family: var(--bs-body-font-family);
    }
</style>